<div id="page_wrapper"?>
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1> This is Zizo favorite picture</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus varius urna a varius. Donec consequat dui ex, a euismod sapien facilisis nec. Sed viverra diam lacinia nisl finibus ultrices. Vestibulum vulputate elementum purus in suscipit. Ut quis risus auctor, hendrerit ante mollis, consequat mi. Sed consequat nisl diam, vitae ullamcorper sem consectetur auctor. Vestibulum tempus condimentum mauris, eu tincidunt orci egestas vel. Ut rhoncus neque eu tortor ornare volutpat.</p>
  </div>

</div>
